<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="./favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content=""
    />
    <link rel="apple-touch-icon" href="logo192.png" />
    <link rel="manifest" href="./manifest.json" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
    <script src="{{ url_for('static',filename='scripts/script.js') }}"></script>
    <style>
      nav ul{height:600px; width:18%;}
      nav ul{overflow:hidden; overflow-y:scroll;}
    </style>
    <title>Dashboard | Money Machine</title>
  </head>
  <body>
    <div id="root">
      <nav class="navbar is-spaced">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">
            <img src="{{ url_for('static',filename='images/logo.png') }}"/>
          </a>
          <a id="navBurger" role="button" class="navbar-burger" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-start">
              <div class="navbar-item">
                  Dashboard
              </div>
          </div>
          <div class="navbar-end">
              <a class="navbar-item" href="/about">
                About
              </a>
            </div>
        </div>
      </nav>
      <section class="section">
          <div class="container">
              <h1 class="title">Dashboard</h1>
              <nav>
                  <ul class="box">
                      <li class="subtitle is-4">A</li>
                      <li class="subtitle is-4">AAL</li>
                      <li class="subtitle is-4">AAP</li>
                      <li class="subtitle is-4">AAPL</li>
                      <li class="subtitle is-4">ABBV</li>
                      <li class="subtitle is-4">ABC</li>
                      <li class="subtitle is-4">ABT</li>
                      <li class="subtitle is-4">ACN</li>
                      <li class="subtitle is-4">ADBE</li>
                      <li class="subtitle is-4">ADI</li>
                      <li class="subtitle is-4">ADM</li>
                      <li class="subtitle is-4">ADP</li>
                      <li class="subtitle is-4">ADS</li>
                      <li class="subtitle is-4">ADSK</li>
                      <li class="subtitle is-4">AEE</li>
                      <li class="subtitle is-4">AEP</li>
                      <li class="subtitle is-4">AES</li>
                      <li class="subtitle is-4">AET</li>
                      <li class="subtitle is-4">AFL</li>
                      <li class="subtitle is-4">AGN</li>
                      <li class="subtitle is-4">AIG</li>
                      <li class="subtitle is-4">AIV</li>
                      <li class="subtitle is-4">AIZ</li>
                      <li class="subtitle is-4">AJG</li>
                      <li class="subtitle is-4">AKAM</li>
                      <li class="subtitle is-4">ALB</li>
                      <li class="subtitle is-4">ALGN</li>
                      <li class="subtitle is-4">ALK</li>
                      <li class="subtitle is-4">ALL</li>
                      <li class="subtitle is-4">ALLE</li>
                      <li class="subtitle is-4">ALXN</li>
                      <li class="subtitle is-4">AMAT</li>
                      <li class="subtitle is-4">AMD</li>
                      <li class="subtitle is-4">AME</li>
                      <li class="subtitle is-4">AMG</li>
                      <li class="subtitle is-4">AMGN</li>
                      <li class="subtitle is-4">AMP</li>
                      <li class="subtitle is-4">AMT</li>
                      <li class="subtitle is-4">AMZN</li>
                      <li class="subtitle is-4">ANDV</li>
                      <li class="subtitle is-4">ANSS</li>
                      <li class="subtitle is-4">ANTM</li>
                      <li class="subtitle is-4">AON</li>
                      <li class="subtitle is-4">AOS</li>
                      <li class="subtitle is-4">APA</li>
                      <li class="subtitle is-4">APC</li>
                      <li class="subtitle is-4">APD</li>
                      <li class="subtitle is-4">APH</li>
                      <li class="subtitle is-4">APTV</li>
                      <li class="subtitle is-4">ARE</li>
                      <li class="subtitle is-4">ARNC</li>
                      <li class="subtitle is-4">ATVI</li>
                      <li class="subtitle is-4">AVB</li>
                      <li class="subtitle is-4">AVGO</li>
                      <li class="subtitle is-4">AVY</li>
                      <li class="subtitle is-4">AWK</li>
                      <li class="subtitle is-4">AXP</li>
                      <li class="subtitle is-4">AYI</li>
                      <li class="subtitle is-4">AZO</li>
                      <li class="subtitle is-4">BA</li>
                      <li class="subtitle is-4">BAC</li>
                      <li class="subtitle is-4">BAX</li>
                      <li class="subtitle is-4">BBT</li>
                      <li class="subtitle is-4">BBY</li>
                      <li class="subtitle is-4">BDX</li>
                      <li class="subtitle is-4">BEN</li>
                      <li class="subtitle is-4">BF.B</li>
                      <li class="subtitle is-4">BHF</li>
                      <li class="subtitle is-4">BHGE</li>
                      <li class="subtitle is-4">BIIB</li>
                      <li class="subtitle is-4">BK</li>
                      <li class="subtitle is-4">BKNG</li>
                      <li class="subtitle is-4">BLK</li>
                      <li class="subtitle is-4">BLL</li>
                      <li class="subtitle is-4">BMY</li>
                      <li class="subtitle is-4">BRK.B</li>
                      <li class="subtitle is-4">BSX</li>
                      <li class="subtitle is-4">BWA</li>
                      <li class="subtitle is-4">BXP</li>
                      <li class="subtitle is-4">C</li>
                      <li class="subtitle is-4">CA</li>
                      <li class="subtitle is-4">CAG</li>
                      <li class="subtitle is-4">CAH</li>
                      <li class="subtitle is-4">CAT</li>
                      <li class="subtitle is-4">CB</li>
                      <li class="subtitle is-4">CBOE</li>
                      <li class="subtitle is-4">CBRE</li>
                      <li class="subtitle is-4">CBS</li>
                      <li class="subtitle is-4">CCI</li>
                      <li class="subtitle is-4">CCL</li>
                      <li class="subtitle is-4">CDNS</li>
                      <li class="subtitle is-4">CELG</li>
                      <li class="subtitle is-4">CERN</li>
                      <li class="subtitle is-4">CF</li>
                      <li class="subtitle is-4">CFG</li>
                      <li class="subtitle is-4">CHD</li>
                      <li class="subtitle is-4">CHRW</li>
                      <li class="subtitle is-4">CHTR</li>
                      <li class="subtitle is-4">CI</li>
                      <li class="subtitle is-4">CINF</li>
                      <li class="subtitle is-4">CL</li>
                      <li class="subtitle is-4">CLX</li>
                      <li class="subtitle is-4">CMA</li>
                      <li class="subtitle is-4">CMCSA</li>
                      <li class="subtitle is-4">CME</li>
                      <li class="subtitle is-4">CMG</li>
                      <li class="subtitle is-4">CMI</li>
                      <li class="subtitle is-4">CMS</li>
                      <li class="subtitle is-4">CNC</li>
                      <li class="subtitle is-4">CNP</li>
                      <li class="subtitle is-4">COF</li>
                      <li class="subtitle is-4">COG</li>
                      <li class="subtitle is-4">COL</li>
                      <li class="subtitle is-4">COO</li>
                      <li class="subtitle is-4">COP</li>
                      <li class="subtitle is-4">COST</li>
                      <li class="subtitle is-4">COTY</li>
                      <li class="subtitle is-4">CPB</li>
                      <li class="subtitle is-4">CRM</li>
                      <li class="subtitle is-4">CSCO</li>
                      <li class="subtitle is-4">CSRA</li>
                      <li class="subtitle is-4">CSX</li>
                      <li class="subtitle is-4">CTAS</li>
                      <li class="subtitle is-4">CTL</li>
                      <li class="subtitle is-4">CTSH</li>
                      <li class="subtitle is-4">CTXS</li>
                      <li class="subtitle is-4">CVS</li>
                      <li class="subtitle is-4">CVX</li>
                      <li class="subtitle is-4">CXO</li>
                      <li class="subtitle is-4">D</li>
                      <li class="subtitle is-4">DAL</li>
                      <li class="subtitle is-4">DE</li>
                      <li class="subtitle is-4">DFS</li>
                      <li class="subtitle is-4">DG</li>
                      <li class="subtitle is-4">DGX</li>
                      <li class="subtitle is-4">DHI</li>
                      <li class="subtitle is-4">DHR</li>
                      <li class="subtitle is-4">DIS</li>
                      <li class="subtitle is-4">DISCA</li>
                      <li class="subtitle is-4">DISCK</li>
                      <li class="subtitle is-4">DISH</li>
                      <li class="subtitle is-4">DLR</li>
                      <li class="subtitle is-4">DLTR</li>
                      <li class="subtitle is-4">DOV</li>
                      <li class="subtitle is-4">DPS</li>
                      <li class="subtitle is-4">DRE</li>
                      <li class="subtitle is-4">DRI</li>
                      <li class="subtitle is-4">DTE</li>
                      <li class="subtitle is-4">DUK</li>
                      <li class="subtitle is-4">DVA</li>
                      <li class="subtitle is-4">DVN</li>
                      <li class="subtitle is-4">DWDP</li>
                      <li class="subtitle is-4">DXC</li>
                      <li class="subtitle is-4">EA</li>
                      <li class="subtitle is-4">EBAY</li>
                      <li class="subtitle is-4">ECL</li>
                      <li class="subtitle is-4">ED</li>
                      <li class="subtitle is-4">EFX</li>
                      <li class="subtitle is-4">EIX</li>
                      <li class="subtitle is-4">EL</li>
                      <li class="subtitle is-4">EMN</li>
                      <li class="subtitle is-4">EMR</li>
                      <li class="subtitle is-4">EOG</li>
                      <li class="subtitle is-4">EQIX</li>
                      <li class="subtitle is-4">EQR</li>
                      <li class="subtitle is-4">EQT</li>
                      <li class="subtitle is-4">ES</li>
                      <li class="subtitle is-4">ESRX</li>
                      <li class="subtitle is-4">ESS</li>
                      <li class="subtitle is-4">ETFC</li>
                      <li class="subtitle is-4">ETN</li>
                      <li class="subtitle is-4">ETR</li>
                      <li class="subtitle is-4">EVHC</li>
                      <li class="subtitle is-4">EW</li>
                      <li class="subtitle is-4">EXC</li>
                      <li class="subtitle is-4">EXPD</li>
                      <li class="subtitle is-4">EXPE</li>
                      <li class="subtitle is-4">EXR</li>
                      <li class="subtitle is-4">F</li>
                      <li class="subtitle is-4">FAST</li>
                      <li class="subtitle is-4">FB</li>
                      <li class="subtitle is-4">FBHS</li>
                      <li class="subtitle is-4">FCX</li>
                      <li class="subtitle is-4">FDX</li>
                      <li class="subtitle is-4">FE</li>
                      <li class="subtitle is-4">FFIV</li>
                      <li class="subtitle is-4">FIS</li>
                      <li class="subtitle is-4">FISV</li>
                      <li class="subtitle is-4">FITB</li>
                      <li class="subtitle is-4">FL</li>
                      <li class="subtitle is-4">FLIR</li>
                      <li class="subtitle is-4">FLR</li>
                      <li class="subtitle is-4">FLS</li>
                      <li class="subtitle is-4">FMC</li>
                      <li class="subtitle is-4">FOX</li>
                      <li class="subtitle is-4">FOXA</li>
                      <li class="subtitle is-4">FRT</li>
                      <li class="subtitle is-4">FTI</li>
                      <li class="subtitle is-4">FTV</li>
                      <li class="subtitle is-4">GD</li>
                      <li class="subtitle is-4">GE</li>
                      <li class="subtitle is-4">GGP</li>
                      <li class="subtitle is-4">GILD</li>
                      <li class="subtitle is-4">GIS</li>
                      <li class="subtitle is-4">GLW</li>
                      <li class="subtitle is-4">GM</li>
                      <li class="subtitle is-4">GOOG</li>
                      <li class="subtitle is-4">GOOGL</li>
                      <li class="subtitle is-4">GPC</li>
                      <li class="subtitle is-4">GPN</li>
                      <li class="subtitle is-4">GPS</li>
                      <li class="subtitle is-4">GRMN</li>
                      <li class="subtitle is-4">GS</li>
                      <li class="subtitle is-4">GT</li>
                      <li class="subtitle is-4">GWW</li>
                      <li class="subtitle is-4">HAL</li>
                      <li class="subtitle is-4">HAS</li>
                      <li class="subtitle is-4">HBAN</li>
                      <li class="subtitle is-4">HBI</li>
                      <li class="subtitle is-4">HCA</li>
                      <li class="subtitle is-4">HCP</li>
                      <li class="subtitle is-4">HD</li>
                      <li class="subtitle is-4">HES</li>
                      <li class="subtitle is-4">HIG</li>
                      <li class="subtitle is-4">HII</li>
                      <li class="subtitle is-4">HLT</li>
                      <li class="subtitle is-4">HOG</li>
                      <li class="subtitle is-4">HOLX</li>
                      <li class="subtitle is-4">HON</li>
                      <li class="subtitle is-4">HP</li>
                      <li class="subtitle is-4">HPE</li>
                      <li class="subtitle is-4">HPQ</li>
                      <li class="subtitle is-4">HRB</li>
                      <li class="subtitle is-4">HRL</li>
                      <li class="subtitle is-4">HRS</li>
                      <li class="subtitle is-4">HSIC</li>
                      <li class="subtitle is-4">HST</li>
                      <li class="subtitle is-4">HSY</li>
                      <li class="subtitle is-4">HUM</li>
                      <li class="subtitle is-4">IBM</li>
                      <li class="subtitle is-4">ICE</li>
                      <li class="subtitle is-4">IDXX</li>
                      <li class="subtitle is-4">IFF</li>
                      <li class="subtitle is-4">ILMN</li>
                      <li class="subtitle is-4">INCY</li>
                      <li class="subtitle is-4">INFO</li>
                      <li class="subtitle is-4">INTC</li>
                      <li class="subtitle is-4">INTU</li>
                      <li class="subtitle is-4">IP</li>
                      <li class="subtitle is-4">IPG</li>
                      <li class="subtitle is-4">IPGP</li>
                      <li class="subtitle is-4">IQV</li>
                      <li class="subtitle is-4">IR</li>
                      <li class="subtitle is-4">IRM</li>
                      <li class="subtitle is-4">ISRG</li>
                      <li class="subtitle is-4">IT</li>
                      <li class="subtitle is-4">ITW</li>
                      <li class="subtitle is-4">IVZ</li>
                      <li class="subtitle is-4">JBHT</li>
                      <li class="subtitle is-4">JCI</li>
                      <li class="subtitle is-4">JEC</li>
                      <li class="subtitle is-4">JNJ</li>
                      <li class="subtitle is-4">JNPR</li>
                      <li class="subtitle is-4">JPM</li>
                      <li class="subtitle is-4">JWN</li>
                      <li class="subtitle is-4">K</li>
                      <li class="subtitle is-4">KEY</li>
                      <li class="subtitle is-4">KHC</li>
                      <li class="subtitle is-4">KIM</li>
                      <li class="subtitle is-4">KLAC</li>
                      <li class="subtitle is-4">KMB</li>
                      <li class="subtitle is-4">KMI</li>
                      <li class="subtitle is-4">KMX</li>
                      <li class="subtitle is-4">KO</li>
                      <li class="subtitle is-4">KORS</li>
                      <li class="subtitle is-4">KR</li>
                      <li class="subtitle is-4">KSS</li>
                      <li class="subtitle is-4">KSU</li>
                      <li class="subtitle is-4">L</li>
                      <li class="subtitle is-4">LB</li>
                      <li class="subtitle is-4">LEG</li>
                      <li class="subtitle is-4">LEN</li>
                      <li class="subtitle is-4">LH</li>
                      <li class="subtitle is-4">LKQ</li>
                      <li class="subtitle is-4">LLL</li>
                      <li class="subtitle is-4">LLY</li>
                      <li class="subtitle is-4">LMT</li>
                      <li class="subtitle is-4">LNC</li>
                      <li class="subtitle is-4">LNT</li>
                      <li class="subtitle is-4">LOW</li>
                      <li class="subtitle is-4">LRCX</li>
                      <li class="subtitle is-4">LUK</li>
                      <li class="subtitle is-4">LUV</li>
                      <li class="subtitle is-4">LYB</li>
                      <li class="subtitle is-4">M</li>
                      <li class="subtitle is-4">MA</li>
                      <li class="subtitle is-4">MAA</li>
                      <li class="subtitle is-4">MAC</li>
                      <li class="subtitle is-4">MAR</li>
                      <li class="subtitle is-4">MAS</li>
                      <li class="subtitle is-4">MAT</li>
                      <li class="subtitle is-4">MCD</li>
                      <li class="subtitle is-4">MCHP</li>
                      <li class="subtitle is-4">MCK</li>
                      <li class="subtitle is-4">MCO</li>
                      <li class="subtitle is-4">MDLZ</li>
                      <li class="subtitle is-4">MDT</li>
                      <li class="subtitle is-4">MET</li>
                      <li class="subtitle is-4">MGM</li>
                      <li class="subtitle is-4">MHK</li>
                      <li class="subtitle is-4">MKC</li>
                      <li class="subtitle is-4">MLM</li>
                      <li class="subtitle is-4">MMC</li>
                      <li class="subtitle is-4">MMM</li>
                      <li class="subtitle is-4">MNST</li>
                      <li class="subtitle is-4">MO</li>
                      <li class="subtitle is-4">MON</li>
                      <li class="subtitle is-4">MOS</li>
                      <li class="subtitle is-4">MPC</li>
                      <li class="subtitle is-4">MRK</li>
                      <li class="subtitle is-4">MRO</li>
                      <li class="subtitle is-4">MS</li>
                      <li class="subtitle is-4">MSFT</li>
                      <li class="subtitle is-4">MSI</li>
                      <li class="subtitle is-4">MTB</li>
                      <li class="subtitle is-4">MTD</li>
                      <li class="subtitle is-4">MU</li>
                      <li class="subtitle is-4">MYL</li>
                      <li class="subtitle is-4">NAVI</li>
                      <li class="subtitle is-4">NBL</li>
                      <li class="subtitle is-4">NCLH</li>
                      <li class="subtitle is-4">NDAQ</li>
                      <li class="subtitle is-4">NEE</li>
                      <li class="subtitle is-4">NEM</li>
                      <li class="subtitle is-4">NFLX</li>
                      <li class="subtitle is-4">NFX</li>
                      <li class="subtitle is-4">NI</li>
                      <li class="subtitle is-4">NKE</li>
                      <li class="subtitle is-4">NKTR</li>
                      <li class="subtitle is-4">NLSN</li>
                      <li class="subtitle is-4">NOC</li>
                      <li class="subtitle is-4">NOV</li>
                      <li class="subtitle is-4">NRG</li>
                      <li class="subtitle is-4">NSC</li>
                      <li class="subtitle is-4">NTAP</li>
                      <li class="subtitle is-4">NTRS</li>
                      <li class="subtitle is-4">NUE</li>
                      <li class="subtitle is-4">NVDA</li>
                      <li class="subtitle is-4">NWL</li>
                      <li class="subtitle is-4">NWS</li>
                      <li class="subtitle is-4">NWSA</li>
                      <li class="subtitle is-4">O</li>
                      <li class="subtitle is-4">OKE</li>
                      <li class="subtitle is-4">OMC</li>
                      <li class="subtitle is-4">ORCL</li>
                      <li class="subtitle is-4">ORLY</li>
                      <li class="subtitle is-4">OXY</li>
                      <li class="subtitle is-4">PAYX</li>
                      <li class="subtitle is-4">PBCT</li>
                      <li class="subtitle is-4">PCAR</li>
                      <li class="subtitle is-4">PCG</li>
                      <li class="subtitle is-4">PEG</li>
                      <li class="subtitle is-4">PEP</li>
                      <li class="subtitle is-4">PFE</li>
                      <li class="subtitle is-4">PFG</li>
                      <li class="subtitle is-4">PG</li>
                      <li class="subtitle is-4">PGR</li>
                      <li class="subtitle is-4">PH</li>
                      <li class="subtitle is-4">PHM</li>
                      <li class="subtitle is-4">PKG</li>
                      <li class="subtitle is-4">PKI</li>
                      <li class="subtitle is-4">PLD</li>
                      <li class="subtitle is-4">PM</li>
                      <li class="subtitle is-4">PNC</li>
                      <li class="subtitle is-4">PNR</li>
                      <li class="subtitle is-4">PNW</li>
                      <li class="subtitle is-4">PPG</li>
                      <li class="subtitle is-4">PPL</li>
                      <li class="subtitle is-4">PRGO</li>
                      <li class="subtitle is-4">PRU</li>
                      <li class="subtitle is-4">PSA</li>
                      <li class="subtitle is-4">PSX</li>
                      <li class="subtitle is-4">PVH</li>
                      <li class="subtitle is-4">PWR</li>
                      <li class="subtitle is-4">PX</li>
                      <li class="subtitle is-4">PXD</li>
                      <li class="subtitle is-4">PYPL</li>
                      <li class="subtitle is-4">QCOM</li>
                      <li class="subtitle is-4">QRVO</li>
                      <li class="subtitle is-4">RCL</li>
                      <li class="subtitle is-4">RE</li>
                      <li class="subtitle is-4">REG</li>
                      <li class="subtitle is-4">REGN</li>
                      <li class="subtitle is-4">RF</li>
                      <li class="subtitle is-4">RHI</li>
                      <li class="subtitle is-4">RHT</li>
                      <li class="subtitle is-4">RJF</li>
                      <li class="subtitle is-4">RL</li>
                      <li class="subtitle is-4">RMD</li>
                      <li class="subtitle is-4">ROK</li>
                      <li class="subtitle is-4">ROP</li>
                      <li class="subtitle is-4">ROST</li>
                      <li class="subtitle is-4">RRC</li>
                      <li class="subtitle is-4">RSG</li>
                      <li class="subtitle is-4">RTN</li>
                      <li class="subtitle is-4">SBAC</li>
                      <li class="subtitle is-4">SBUX</li>
                      <li class="subtitle is-4">SCG</li>
                      <li class="subtitle is-4">SCHW</li>
                      <li class="subtitle is-4">SEE</li>
                      <li class="subtitle is-4">SHW</li>
                      <li class="subtitle is-4">SIVB</li>
                      <li class="subtitle is-4">SJM</li>
                      <li class="subtitle is-4">SLB</li>
                      <li class="subtitle is-4">SLG</li>
                      <li class="subtitle is-4">SNA</li>
                      <li class="subtitle is-4">SNPS</li>
                      <li class="subtitle is-4">SO</li>
                      <li class="subtitle is-4">SPG</li>
                      <li class="subtitle is-4">SPGI</li>
                      <li class="subtitle is-4">SRCL</li>
                      <li class="subtitle is-4">SRE</li>
                      <li class="subtitle is-4">STI</li>
                      <li class="subtitle is-4">STT</li>
                      <li class="subtitle is-4">STX</li>
                      <li class="subtitle is-4">STZ</li>
                      <li class="subtitle is-4">SWK</li>
                      <li class="subtitle is-4">SWKS</li>
                      <li class="subtitle is-4">SYF</li>
                      <li class="subtitle is-4">SYK</li>
                      <li class="subtitle is-4">SYMC</li>
                      <li class="subtitle is-4">SYY</li>
                      <li class="subtitle is-4">T</li>
                      <li class="subtitle is-4">TAP</li>
                      <li class="subtitle is-4">TDG</li>
                      <li class="subtitle is-4">TEL</li>
                      <li class="subtitle is-4">TGT</li>
                      <li class="subtitle is-4">TIF</li>
                      <li class="subtitle is-4">TJX</li>
                      <li class="subtitle is-4">TMK</li>
                      <li class="subtitle is-4">TMO</li>
                      <li class="subtitle is-4">TPR</li>
                      <li class="subtitle is-4">TRIP</li>
                      <li class="subtitle is-4">TROW</li>
                      <li class="subtitle is-4">TRV</li>
                      <li class="subtitle is-4">TSCO</li>
                      <li class="subtitle is-4">TSN</li>
                      <li class="subtitle is-4">TSS</li>
                      <li class="subtitle is-4">TTWO</li>
                      <li class="subtitle is-4">TWX</li>
                      <li class="subtitle is-4">TXN</li>
                      <li class="subtitle is-4">TXT</li>
                      <li class="subtitle is-4">UA</li>
                      <li class="subtitle is-4">UAA</li>
                      <li class="subtitle is-4">UAL</li>
                      <li class="subtitle is-4">UDR</li>
                      <li class="subtitle is-4">UHS</li>
                      <li class="subtitle is-4">ULTA</li>
                      <li class="subtitle is-4">UNH</li>
                      <li class="subtitle is-4">UNM</li>
                      <li class="subtitle is-4">UNP</li>
                      <li class="subtitle is-4">UPS</li>
                      <li class="subtitle is-4">URI</li>
                      <li class="subtitle is-4">USB</li>
                      <li class="subtitle is-4">UTX</li>
                      <li class="subtitle is-4">V</li>
                      <li class="subtitle is-4">VAR</li>
                      <li class="subtitle is-4">VFC</li>
                      <li class="subtitle is-4">VIAB</li>
                      <li class="subtitle is-4">VLO</li>
                      <li class="subtitle is-4">VMC</li>
                      <li class="subtitle is-4">VNO</li>
                      <li class="subtitle is-4">VRSK</li>
                      <li class="subtitle is-4">VRSN</li>
                      <li class="subtitle is-4">VRTX</li>
                      <li class="subtitle is-4">VTR</li>
                      <li class="subtitle is-4">VZ</li>
                      <li class="subtitle is-4">WAT</li>
                      <li class="subtitle is-4">WBA</li>
                      <li class="subtitle is-4">WDC</li>
                      <li class="subtitle is-4">WEC</li>
                      <li class="subtitle is-4">WELL</li>
                      <li class="subtitle is-4">WFC</li>
                      <li class="subtitle is-4">WHR</li>
                      <li class="subtitle is-4">WLTW</li>
                      <li class="subtitle is-4">WM</li>
                      <li class="subtitle is-4">WMB</li>
                      <li class="subtitle is-4">WMT</li>
                      <li class="subtitle is-4">WRK</li>
                      <li class="subtitle is-4">WU</li>
                      <li class="subtitle is-4">WY</li>
                      <li class="subtitle is-4">WYN</li>
                      <li class="subtitle is-4">WYNN</li>
                      <li class="subtitle is-4">XEC</li>
                      <li class="subtitle is-4">XEL</li>
                      <li class="subtitle is-4">XL</li>
                      <li class="subtitle is-4">XLNX</li>
                      <li class="subtitle is-4">XOM</li>
                      <li class="subtitle is-4">XRAY</li>
                      <li class="subtitle is-4">XRX</li>
                      <li class="subtitle is-4">XYL</li>
                      <li class="subtitle is-4">YUM</li>
                      <li class="subtitle is-4">ZBH</li>
                      <li class="subtitle is-4">ZION</li>
                      <li class="subtitle is-4">ZTS</li>
                  </ul>
              </nav>
          </div>
      </section>
    </div>
  </body>
</html>
