<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="./favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />
        <meta
        name="description"
        content=""
        />
        <link rel="apple-touch-icon" href="logo192.png" />
        <link rel="manifest" href="./manifest.json" />
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
        <script src="{{ url_for('static',filename='scripts/script.js') }}"></script>
        <title>{{t}} | Money Machine</title>
    </head>

    <body>
        <div class="root">
            <nav class="navbar is-spaced">
                <div class="navbar-brand">
                <a href="/" class="navbar-item">
                    <img src="{{ url_for('static',filename='images/logo.png') }}"/>                    
                </a>
                <a id="navBurger" role="button" class="navbar-burger" data-target="navMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
                </div>
                <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                </div>
                <div class="navbar-end">
                    <a class="navbar-item">
                        About
                    </a>
                    </div>
                </div>
            </nav>
            <section class="section is-large">
                <div class="columns is-centered">
                    <div class="column is-6">
                        <h1 class="title">{{t}} to use Money Machine</h1>
                        {% if loginFailed %}
                            <div class="box has-background-danger">
                                <h1 class="title is-danger">Failed to log in. Please try again.</h1>
                                <p>Did you type your credentials correctly?</p>
                            </div>
                        {% endif %}
                        {% if signupFailed %}
                            <div class="box has-background-danger">
                                <h1 class="title is-danger">Failed to sign up. Please try again.</h1>
                                <p>Did you enter your email correctly?</p>
                                <p>Is your password complex enough?</p>
                            </div>
                        {% endif %}
                        {% if signupSuccess %}
                            <div class="box has-background-success">
                                <h1 class="title is-success">Signed up successfully. You may now log in.</h1>
                            </div>
                        {% endif %}
                        <div class="box has-text-centered">
                            <form method="POST">
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-large" type="email" name="name" placeholder="Email">
                                    </div>
                                    <div class="control">
                                        <input class="input is-large" type="password" name="pass" placeholder="Password">                                
                                    </div>
                                </div>
                                <input class="button is-primary is-rounded is-large" type="submit" name="submit" value="{{t}}">
                            </form>
                        </div>
                    </div>
                    
                </div>
            </section>
        </div>
    </body>
</html>