@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
$cream: #fff1c1;
$medium-aqua: #2588b3;
$dark-aqua: #293462;
$darker-aqua: #1c2442;
$dark-red: #f76262;

// fonts
$family-sans-serif: 'Karla', sans-serif;

// colors
$primary: $dark-red;
$background: $cream;
$info: $dark-aqua;
$navbar-background-color: $dark-aqua;
$body-background-color: $background;
$box-background-color: $dark-aqua;

$navbar-item-color: $background;
$navbar-item-hover-background-color: $medium-aqua;
$navbar-item-hover-color: $cream;
$navbar-item-active-background-color: $darker-aqua;
$navbar-item-active-color: $cream;

$title-color: $dark-aqua;
$subtitle-color: $medium-aqua;


@import "../node_modules/bulma/bulma.sass";